.aText {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 18px;
  text-anchor: middle;
}

.xText {
  font-family: sans-serif;
  font-size: 100%;
  text-anchor: middle;
}

.yText {
  font-family: sans-serif;
  font-size: 100%;
  text-anchor: end;
}

.active {
  font-weight: bold;
  font-size: 18px;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
  stroke-width: 0;
}

.inactive {
  font-weight: 100;
  font-size: 18px;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
  stroke-width: 0;
  text-rendering: optimizeLegibility;
}

.inactive:hover {
  font-weight: 900;
  fill: rgb(19, 32, 75);
  cursor: pointer;
  text-rendering: optimizeLegibility;
}

/* font size dependent on radius, see app.js */
.stateText {
  font-family: sans-serif;
  fill: #fff;
  text-anchor: middle;
}

.stateCircle {
  fill: #1c1277;
  opacity: 0.7;
  stroke: "white";
  stroke-width: 2px;
}

.stateCircle:hover {
  fill: #89bdd3;
  stroke: rgb(30, 18, 82);
  stroke-width: 2px;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(26, 1, 65, 0.8);
  border-radius: 4px;

}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
